body {
	background-color: #f1e7b7;
}

.button,
.space {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid black;
	display: block;
	overflow: hidden;
}


.column {
	display: inline-block;
}

.space {
	background-color: #0d32ca;
}

.winning{
	background-color: #005d3e;
}

.buttonHolder {
	display: inline-block
}

.button:hover {
	background-color: rgba(100, 0, 0, 0.5);
}